
body {
    background-color: white;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

th, td {
    padding: 5px;
    background-color: ghostwhite;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

/******************* global **************************/

#app {
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.container {
    outline: 4px solid black;
    width: 100%;
    max-width: 2000px;
    height: 100%;
    min-height: 100vh;
    margin: 0px 0px;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#content-container {
    padding: 150px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-header {
    background-color: #ffffb3;
}

/******************* navbar banner ***********************/

#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: steelblue; 
    color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    position: fixed;
    top: 20px;
    left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 50px;
}

#logo:hover {
    color: gold;
}

#navigation {
    position: fixed;
    top: 5px;
    right: 50px;
    width: 500px;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: gold;
}

/****************** home page ***************************/

.message-form-card {
    width: 500px;
    background-color: ghostwhite;
}

#send-button:disabled {
    border: 1px solid #999999;
    background-color: darkgrey;
}

#phone-number {
    padding: 1px;
    background-color: #ffcccc;
}

#message-body {
    padding: 1px;
    background-color: #ffcccc;
}

#phone-number-error-message {
    font-size: 12px;
    color: red;
}

#not-logged-in-message {
    color: red;
}

#send-message-success {
    visibility: hidden;
}

/***************** login and register pages ************************/

#login-card {
    width: 500px;
}

#register-card {
    width: 500px;
}

.form-check-input {
    position: relative;
    margin-left: 10px;
}

#login-remember-me {
    margin-left: 10px;
}

/****************** messages page ***********************/

#messages-container {
    margin-top: 10px;
    margin-bottom: 40px;
}

#messages-table th, td {
    border: 1px solid lightgrey;
    padding: 3px 8px;
    font-size: 15px;
    font-family: Calibri, sans-serif;
}

#messages-table td {
    background-color: ghostwhite;
}

#messages-table th {
    background-color: #ffffb3;
}

/**************** dashboard ***************************/

#dashboard-card {
    width: 500px;
}

#dashboard-form {
    margin: 10px;
}

.dashboard-table-input {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#dashboard-update-button {
    margin-top: 10px;
}

.dashboard-field-capitalize {
    text-transform: capitalize;
}



